.card-jfy-load-more {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 9px;
    clear: both;
}

.card-jfy-loading {
    clear: both;
    display: flex;
    justify-content: center;
}

.lazada-loading-container {
    width: 60px;
    height: 60px;
    background: url('https://laz-img-cdn.alicdn.com/imgextra/i4/O1CN01Y3c8hr1nzmm59KVPu_!!6000000005161-1-tps-100-100.gif')
        no-repeat;
    background-size: 100% 100%;
}

.end-text {
    color: var(--lose-color);
}
