.pull_left {
    float: left;
}
.wrapper {
    width: var(--default-layout-width);
    margin: 0 auto;
    position: relative;
    bottom: 0;
    .footer-first {
        background-color: var(--background-footer);
        padding: 20px 0 25px;
        color: var(--white);
        .lzd-footer-inner {
            overflow: hidden;
        }
        .footer-title {
            font-size: 16px;
            font-weight: 300;
            line-height: 35px;
            margin: 0;
            color: var(--color-footer);
        }
        .footer-list {
            padding: 0;
            margin: 0;
        }
        .footer-li {
            font-weight: 200;
            line-height: 17px;
            list-style: none;
            .link-style {
                color: var(--color-footer);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .lzd-footer-app-downloads {
            margin-top: 25px;
            .icon-logo-lazada-footer {
                background-size: cover;
                width: 42px;
                height: 42px;
            }
            .lzd-app-download-text {
                padding: 0 15px;
                margin-top: -5px;
                .title {
                    color: var(--primary);
                    font-size: 18px;
                    font-weight: 300;
                }
                .text {
                    font-size: 14px;
                    font-weight: 300;
                    color: var(--color-footer);
                }
            }
        }
        .clear {
            clear: both;
        }
        .lzd-footer-app-supplement {
            color: var(--color-footer);
            margin-top: 5px;
        }
    }
    a {
        text-decoration: none;
        color: #888;
    }
}

.lzd-footer-inner {
    .lzd-footer-width-25 {
        width: 25%;
        float: left;
        overflow: hidden;
    }
    .lzd-footer-width-50 {
        width: 50%;
        overflow: hidden;
        float: left;
    }
}
.icon-logo-lazada-footer {
    img {
        display: inline-block;
    }
}

.lzd-footer-app-downloads {
    .lzd-footer-appStore {
        display: inline-block;
        width: 126px;
        height: 42px;
        margin: 1px 0 0 20px;
    }
    .icon-android-footer {
        width: 128px;
        height: 43px;
        margin-left: 10px;
    }
    .icon-huawei-footer {
        width: 126px;
        height: 42px;
        margin: 10px 0 0 20px;
        background-color: transparent;
    }
}
//-----------footer-second-----------
.footer-second {
    padding: 20px 0 25px;
    background-color: var(--white);
    .lzd-footer-inner {
        overflow: hidden;
        .lzd-footer-width-32 {
            width: 32%;
            float: left;
            overflow: hidden;
        }
    }
    .lzd-icon-payment {
        margin: 0 25px 10px 0;
        width: 53px;
        height: 39px;
        display: inline-block;
    }
    .lzd-footer-h3 {
        font-size: 16px;
        color: #183544;
        font-weight: 400;
        line-height: 2.2em;
        margin-bottom: 15px;
    }
    .lzd-footer-zm {
        height: 40px;
        width: 40px;
    }
    //------------------
    .lzd_footer_spacing {
        margin-left: 4%;
    }
    .lzd-icon-delivery {
        height: 70px;
        width: 96px;
    }
    .img-verify {
        display: block;
        margin: 0 14px 10px 0;
    }
}
.img-pointer {
    cursor: pointer;
}

//-----------Footer-Fourth------------
.footer-fourth {
    background-color: var(--white);
    color: var(--color-title-footer);
    padding: 40px 0;
    .lzd-footer-inner {
        overflow: hidden;
        .lzd-footer-width-50 {
            width: 50%;
            overflow: hidden;
            float: left;
        }
    }
    .lzd-footer-title {
        margin: 5px 10px 5px 0;
        color: #2a2a2ad9;
        font-weight: 200;
        font-size: 18px;
        line-height: 20px;
    }
    .lzd-footer-country {
        width: 34px;
        height: 34px;
        display: inline-block;
    }
    .lzd-footer-width-25 {
        width: 25%;
        float: left;
        overflow: hidden;
    }
    .lzd-footer-copyright {
        float: right;
        line-height: 20px;
        font-size: 14px;
        color: var(--color-title-footer);
        font-weight: 200;
    }
}
