.smaller {
    width: 12px;
    height: 12px;
}

.larger {
    width: 33.25px;
    height: 33.25px;
}

.medium {
    width: 15.95px;
    height: 15.95px;
}

.pray-star {
    display: inline-block;
    color: #7575753d;
}
