.module_seller_delivery {
    .fill-in {
        color: var(--link-color);
    }
    .delivery {
        font-size: var(--font-size-option);
        background-color: #fafafa;
        color: #212121;
        .delivery-header {
            display: table;
            padding: 20px 16px 2px;
            width: 100%;
            box-sizing: border-box;
            .delivery-header__title {
                display: table-cell;
                font-size: 12px;
                line-height: 12px;
                color: #757575;
                font-weight: 500;
                font-family: Roboto Medium;
                width: 300px;
            }
            .delivery-header__tooltip {
                display: table-cell;
                text-align: right;
                color: #9e9e9e;
                cursor: pointer;
            }
        }
        .delivery__header {
            margin-bottom: 8px;
            border-bottom: 1px solid #eff0f5;
            .delivery__location {
                padding: 10px 16px;
                .location__current {
                    box-sizing: border-box;
                    .location__body {
                        display: table;
                        width: 100%;
                        .location-dot {
                            font-size: 24px;
                            display: table-cell;
                            vertical-align: middle;
                            .location-icon {
                                width: 1em;
                                height: 1em;
                                fill: currentColor;
                                font-size: 24px;
                                color: #9e9e9e;
                            }
                        }
                        .location__address {
                            max-width: 140px;
                            word-break: break-word;
                            display: table-cell;
                            vertical-align: middle;
                            color: #202020;
                            padding-right: 15px;
                        }
                        .location__link-change {
                            font-weight: 500;
                            display: table-cell;
                            vertical-align: middle;
                            text-align: right;
                            text-transform: uppercase;
                            white-space: nowrap;
                            &:hover {
                                color: var(--link-color-hover);
                            }
                            .link_change {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        .delivery__content {
            position: relative;
            padding-bottom: 4px;
            .delivery-option-item_type_standard {
                padding: 10px 16px;
                .delivery-option-item__body {
                    display: table;
                    border-collapse: collapse;
                    width: 100%;
                    .delivery-option-item__icon {
                        display: table-cell;
                        padding-right: 10px;
                        width: 35px;
                        box-sizing: border-box;
                        font-size: 24px;
                        color: #757575;
                    }
                    .delivery-option-item__icon img {
                        font-size: inherit;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        fill: currentColor;
                        opacity: 0.5;
                    }
                    .delivery-option-item__info {
                        display: table-cell;
                        vertical-align: middle;
                        .delivery-option-item__title {
                            line-height: 14px;
                        }
                        .delivery-option-item__time {
                            color: #9e9e9e;
                            font-size: 12px;
                            line-height: 12px;
                            margin-top: 5px;
                        }
                    }
                    .delivery-option-item__shipping-fee {
                        vertical-align: middle;
                        font-weight: 500;
                        font-family: Roboto-Medium;
                        padding-left: 5px;
                        display: table-cell;
                        text-align: right;
                        white-space: nowrap;
                    }
                }
            }

            .delivery-option-item_type_COD {
                padding: 10px 16px;
                .delivery-option-item__body {
                    display: table;
                    border-collapse: collapse;
                    width: 100%;
                    .delivery-option-item__icon {
                        display: table-cell;
                        padding-right: 10px;
                        width: 35px;
                        box-sizing: border-box;
                    }
                    .delivery-option-item__info {
                        display: table-cell;
                        vertical-align: middle;
                        .delivery-option-item__title {
                            line-height: 14px;
                        }
                    }
                    .delivery-option-item__shipping-fee {
                        vertical-align: middle;
                        font-weight: 500;
                        font-family: Roboto-Medium;
                        padding-left: 5px;
                        display: table-cell;
                        text-align: right;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
